@media screen and (min-width: 700px) {
    .grider {
        display: none !important;
    }
}
@media screen and (max-width: 700px) {

    table table {
        display: none;
    }

    .grider {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .grider div:empty {
        /*display: none;*/
    }
    .grider div {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .grider div:nth-child(7n+1),
    .grider div:nth-child(7n+2)
    {
        display: none;
    }
    .old-th {
        font-size: 19px;
    }


    .grider div:nth-child(7n+1) {
        order: 1;
    }
    .grider div:nth-child(7n+2) {
        order: 2;
    }
    .grider div:nth-child(7n+3) {
        order: 3;
    }
    .grider div:nth-child(7n+4) {
        order: 4;
    }
    .grider div:nth-child(7n+5) {
        order: 5;
    }
    .grider div:nth-child(7n+6) {
        order: 6;
    }
    .grider div:nth-child(7n) {
        order: 7;
    }


    .grider time {
        width: 25%;
    }
    .grider article {
        display: flex;
        width: 75%;
    }
    .grider article .n {
        flex-grow: 0;
        flex-basis: 20%;
        text-align: center;
    }
    .grider article .s {
        flex-basis: 20%;
        flex-grow: 0;
        text-align: center;
    }
    .grider article .p {
        flex-grow: 6;
        text-align: right;

    }
    .grider {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
    }
    .old-th time {
        display: none;
    }
    .old-th article {
        background-color:rgb(20, 20, 20);
        padding-top: 20px;
        display: block;
        text-align: center;
        padding-right: 20px;
        font-size: 2rem;
        line-height: 3rem;
        color: whitesmoke;
        width:100%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .grider time {
        background-color: rgb(49, 49, 49) ;
        color:white;
        text-align: center;
        font-size: 1.10rem;
    }
    .old-td + .old-td {
        border-top: 1px solid black;
        font-size: 1.2rem;
        line-height: 1.75rem;
        font-family::Arial, Helvetica, sans-serif;
    }
}

/* some minor tweaks */
caption {
    text-align: center;
    width: 100%;
}
form {
    min-width: 300px;
    margin: auto;
    width: 50vw;
    text-align: center;
}
body > div > table {
    width: 100%;
}
body > div > table table {
    margin: auto;
}

.n {
    color: black;
    text-decoration: none;
    text-align: right;
}

table{
    border-collapse: collapse;
    border-style: solid;
    border-color:black;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    
}

/*góra*/
th{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height:80px;
    font-size: 22px;
    background-color: rgb(20, 20, 20);
    color:whitesmoke;
}

/*numer lekcji*/
.nr{
    background-color:rgb(49, 49, 49) ;
    height:35px;
    font-size:23px;
    color:white;
    
}

/*godziny lekcji*/
.g{
    font-size:19px;
    height:35px;
}

/*lekcje*/
.l{
    height:35px;
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:500;

}

tr:nth-child(even) {
    background-color: gainsboro;
}

a{
    text-decoration: none;
    font-weight: 700;
    color:black
}

a:hover{
    text-decoration: underline;
}