@media screen and (min-width: 700px) {
    .grider {
        display: none !important;
    }
}
@media screen and (max-width: 699px) {

    table table {
        display: none;
    }

    .grider {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .grider div {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .grider div:nth-child(7n+1),
    .grider div:nth-child(7n+2)
    {
        display: none;
    }
    .old-th {
        font-size: 19px;
    }


    .grider div:nth-child(7n+1) {
        order: 1;
    }
    .grider div:nth-child(7n+2) {
        order: 2;
    }
    .grider div:nth-child(7n+3) {
        order: 3;
    }
    .grider div:nth-child(7n+4) {
        order: 4;
    }
    .grider div:nth-child(7n+5) {
        order: 5;
    }
    .grider div:nth-child(7n+6) {
        order: 6;
    }
    .grider div:nth-child(7n) {
        order: 7;
    }


    .grider time {
        width: 25%;
    }
    .grider article {
        display: flex;
        width: 75%;
    }
    .grider article .n {
        flex-grow: 0;
        flex-basis: 20%;
        text-align: center;
    }
    .grider article .s {
        flex-basis: 20%;
        flex-grow: 0;
        text-align: center;
    }
    .grider article .p {
        flex-grow: 6;
        text-align: right;
    }



    .grider {
        font-family: Garamond, sans-serif;
        font-weight: 500;
        border-radius: 25px;
    }
    
    .old-th time {
        display: none;
    }
    .old-th article {
        /*background-color: red;*/
        padding-top: 20px;
        display: block;
        text-align: right;
        padding-right: 20px;
        font-size: 1.75rem;
        line-height: 3rem;
    }
    .grider time {
        color: #aaa;
        font-style: italic;
        text-align: end;
    }
    .old-td + .old-td {
        /*border-top: 1px solid #ddd;*/
        font-size: 1.2rem;
        line-height: 1.75rem;
    }

    .old-td:last-child {
        border: 0;
    }
}

/* some minor tweaks */
caption {
    text-align: center;
    width: 100%;
}
form {
    min-width: 300px;
    margin: auto;
    width: 50vw;
    text-align: center;
}
body > div > table {
    width: 100%;
}
body > div > table table {
    margin: auto;
}



/* kolory */
.p-j-angielski, .p-r_angielski {
    color: red;
}
.p-j-polski {
    color: rgb(255, 153, 0);
}
.p-matematyka, .p-r_matematyka {
    color: rgb(73, 137, 255);
}
.p-wf {
    color: rgb(33, 226, 107);
}

.s {
    color: rgb(212, 212, 212);
    text-decoration: none;
    font-weight: 500;
}
.n {
    color: rgb(133, 133, 133);
    font-weight: 100;
    text-decoration: none;
    text-align: right;
}

/* - */
td, th {
    color: #ddd;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(73, 75, 82);
}
td.l, .old-td, .old-th {
    font-weight: 100;
    text-shadow: black 0 3px 5px;
    color:rgb(169, 180, 185);
}

tbody, table {
    border: none;
}

tbody tbody, .grider {
    border: none;
    background: rgb(20, 20, 20);
    border-collapse: collapse;
    font-family: 'Segoe UI';
    width: 100%;
    box-shadow: rgb(0, 0, 0) 0 0 18px;
}

.old-td, .old-th {
    border-bottom: 1px solid rgb(133, 135, 148);
}

tr>td:only-child {
    border: none;
}

table table, tbody tbody {
    border-radius: 20px;
}

th {
    border-top: none;
    background: rgb(7, 7, 7);
}

table table tbody tr:last-child td {
    border-bottom: none;
}

tbody tbody tr td:first-child, tbody tbody tr th:first-child {
    border-left: none;
    border-top-left-radius: 20px;
}

tbody tbody tr td:last-child, tbody tbody tr th:last-child {
    border-right: none;
    border-top-right-radius: 20px;
}

tbody tbody {
    display: block;
}