@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
:root {
    --color: #0000001c;
    --color2: #25252511;  
    --color3:#eeeeee;

}
.tabela tbody{
    box-shadow: 0px 22px 43px -1px rgba(66, 68, 90, 1);
}
@media (prefers-color-scheme: dark) {
    :root {
        --color: #88868633;
        --color2: #94949409;
        --color3: #aaaaaa21;

    }
    body {
      color: rgb(255, 255, 255);
      background: #121212;
    }
    a[href]{
        color: rgb(115, 105, 252);
    }
}
@media screen and (min-width: 701px) {
    .grider {
        display: none !important;
    }
    .tabela td:hover{
        transition: 0.2s;
        background-color:var(--color) !important;
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.13);
    }
    .tabela tr:hover td{
        transition: 0.2s;
        background-color:var(--color2);
    }
    .tabela tr~tr:nth-child(2n){
        background-color: rgba(196, 196, 196, 0.028);
    }

}
@media screen and (max-width: 700px) {
    *{
        transition: 0.3s;
    }

    select{
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .btn.select{
        color: #7c3bff;
    }
    .btn:hover{
        cursor: pointer;
        background-color:#00000033;
        box-shadow: 0px 5px 10px 2px rgb(0, 0, 0);
        font-size: 20px;
    }

    table table {
        display: none;
    }

    .grider table tr td {
        border: 2px solid white;
    }
    .grider table tr~tr td{
        text-align: left;
    }

    .grider table{
        border-collapse: collapse;
        border:1px solid #8f8f8f86;
        background-color: #7a7a7a33;
    }
    .grider table tr~tr td:first-child{
        text-align: center;
        font-weight: 500;
        font-size: 26px;
        color: #585858;
    }
    .grider table tr:nth-child(n+2) td:last-child{
        padding: 10px;
    }
    .grider table tr:first-child{
        text-align: center;
        height: 45px;
    }

}
a[href]{
    text-decoration: none;
}
.tabela {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
.tabela tr:first-child{
    background-color: #5D18E0;
    color: white;
}
.tabela tr~tr{
    background-color: var(--color3);
}
.tabela th, .tabela td{
    border-left: 0;
    border:  1px solid #8f8f8f86;
    padding: 1em;
}
caption {
    margin: 20px;

}
form {
    min-width: 300px;
    margin: auto;
    width: 50vw;

}
body > div > table {
    width: 100%;
}
body > div > table table {
    margin: auto;
}



/* Only as example */
.p-j-angielski, .p-r_angielski {
    color: #1b9448;
}
.p-geografia, .p-r_geografia {
    color: blueviolet;
}

select{
    margin-top: 10px;
    border-radius: 3px;
    background: #7a7a7a;
}