@media screen and (min-width: 700px) {
    .grider {
        display: none !important;
    }
}
@media screen and (max-width: 700px) {

    table table {
        display: none;
    }

    .grider {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .grider div:empty {
        /*display: none;*/
    }
    .grider div {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .grider div:nth-child(7n+1),
    .grider div:nth-child(7n+2)
    {
        display: none;
    }
    .old-th {
        font-size: 19px;
    }


    .grider div:nth-child(7n+1) {
        order: 1;
    }
    .grider div:nth-child(7n+2) {
        order: 2;
    }
    .grider div:nth-child(7n+3) {
        order: 3;
    }
    .grider div:nth-child(7n+4) {
        order: 4;
    }
    .grider div:nth-child(7n+5) {
        order: 5;
    }
    .grider div:nth-child(7n+6) {
        order: 6;
    }
    .grider div:nth-child(7n) {
        order: 7;
    }


    .grider time {
        width: 25%;
    }
    .grider article {
        display: flex;
        width: 75%;
    }
    .grider article .n {
        flex-grow: 0;
        flex-basis: 20%;
        text-align: center;
    }
    .grider article .s {
        flex-basis: 20%;
        flex-grow: 0;
        text-align: center;
    }
    .grider article .p {
        flex-grow: 6;
        text-align: right;
    }



    .grider {
        font-family: Garamond, sans-serif;
        font-weight: 500;
    }
    .old-th time {
        display: none;
    }
    .old-th article {
        /*background-color: red;*/
        padding-top: 20px;
        display: block;
        text-align: right;
        padding-right: 20px;
        font-size: 1.75rem;
        line-height: 3rem;
    }
    .grider time {
        color: #aaa;
        font-style: italic;
    }
    .old-td + .old-td {
        border-top: 1px solid #ddd;
        font-size: 1.2rem;
        line-height: 1.75rem;
    }
}

/* some minor tweaks */
caption {
    text-align: center;
    width: 100%;
}
form {
    min-width: 300px;
    margin: auto;
    width: 50vw;
    text-align: center;
}
body > div > table {
    width: 100%;
}
body > div > table table {
    margin: auto;
}



/* Only as example */
.p-j-angielski, .p-r_angielski {
    color: #1b9448;
}
.p-geografia, .p-r_geografia {
    color: blueviolet;
}

.n {
    color: #000;
    text-decoration: none;
    text-align: right;

}





html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
background-color: rgb(229, 199, 143);

}

th{
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
border:1px solid black;
border-radius: 15px;
border-color: blue;
}
.tabela {
    background: linear-gradient(90deg, rgba(18,158,157,1) 10%, rgba(25,208,212,1) 40%, rgba(27,219,176,1) 57%, rgba(13,182,178,1) 76%, rgba(15,201,200,1) 87%, rgba(9,223,198,1) 100%);
    margin-top: 50px;
}

.nr {
border-radius: 19px;
border:1px solid color hotpink;
background-color: royalblue;

}
.l{
    background-color: hotpink;
}
.l:hover{
background-color: plum;

transform: matrix(10.5s);
font-size: 19px;

}
.g{
    background-color:violet;
}
.g:hover{
    background-color: pink;
    transform: matrix(10.5s);
font-size: 19px;
}
caption {
font-size: 150%;
color: deeppink;

}