@media screen and (min-width: 700px) {
    .grider {
        display: none !important;
    }
}
@media screen and (max-width: 700px) {

    table table {
        display: none;
    }

    .grider {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .grider div:empty {
        /*display: none;*/
    }
    .grider div {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .grider div:nth-child(7n+1),
    .grider div:nth-child(7n+2)
    {
        display: none;
    }
    .old-th {
        font-size: 19px;
    }


    .grider div:nth-child(7n+1) {
        order: 1;
    }
    .grider div:nth-child(7n+2) {
        order: 2;
    }
    .grider div:nth-child(7n+3) {
        order: 3;
    }
    .grider div:nth-child(7n+4) {
        order: 4;
    }
    .grider div:nth-child(7n+5) {
        order: 5;
    }
    .grider div:nth-child(7n+6) {
        order: 6;
    }
    .grider div:nth-child(7n) {
        order: 7;
    }


    .grider time {
        width: 25%;
    }
    .grider article {
        display: flex;
        width: 75%;
    }
    .grider article .n {
        flex-grow: 0;
        flex-basis: 20%;
        text-align: center;
    }
    .grider article .s {
        flex-basis: 20%;
        flex-grow: 0;
        text-align: center;
    }
    .grider article .p {
        flex-grow: 6;
        text-align: right;
    }



    .grider {
        font-family: Garamond, sans-serif;
        font-weight: 500;
    }
    .old-th time {
        display: none;
    }
    .old-th article {
        /*background-color: red;*/
        padding-top: 20px;
        display: block;
        text-align: right;
        padding-right: 20px;
        font-size: 1.75rem;
        line-height: 3rem;
    }
    .grider time {
        color: #aaa;
        font-style: italic;
    }
    .old-td + .old-td {
        border-top: 1px solid #ddd;
        font-size: 1.2rem;
        line-height: 1.75rem;
    }
}

/* some minor tweaks */
caption {
    text-align: center;
    width: 100%;
}
form {
    min-width: 300px;
    margin: auto;
    width: 50vw;
    text-align: center;
}
body > div > table {
    width: 100%;
}
body > div > table table {
    margin: auto;
}



/* Only as example */

.n {
    color: #000;
    text-decoration: none;
    text-align: right;
}

th {
    border-radius: 50px;
    background-color: aqua;
}
.g {
    background-color: yellowgreen;
    border-radius: 50px;
    text-align: center;
    content: " \FFEB";
}
.g:hover {
    font-weight: 900;
    text-rendering: geometricPrecision;
}
.nr {
    border-radius: 10px;
    background-color: paleturquoise;
    text-align: center;
}
table {
    background-size: 30%;
}
table {
    border-radius: 10px;

    border-color: goldenrod
}
.l {
    background-color: bisque;
    text-shadow: 0.2px 0.2px;

}
.l:hover {
    background-color: lightcoral;
    font-style: italic;
    border-radius: 10px;
    text-align: center;
    text-decoration: blink;
}
.l:hover {
    transition: opacity 2s ease-in-out infinite;
    animation: blinker 1s linear infinite;
    opacity: 1;
    }

    @keyframes blinker {
    0% {
    color: red;
    }

    50% {
    color: yellow;
    }
    }

.tr {
    background-color: blanchedalmond;
}
th ~ th {
    background-color: aqua;
    border-color: blue;
    border-radius: 0px;
}