
@media screen and (min-width: 700px) {
    .grider {
        display: none !important;
    }
}
@media screen and (max-width: 700px) {

    table table {
        display: none;
    }

    .grider {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

   
    .grider div {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .grider div:nth-child(7n+1),
    .grider div:nth-child(7n+2)
    {
        display: none;
    }
    .old-th {
        font-size: 19px;
    }


    .grider div:nth-child(7n+1) {
        order: 1;
    }
    .grider div:nth-child(7n+2) {
        order: 2;
    }
    .grider div:nth-child(7n+3) {
        order: 3;
    }
    .grider div:nth-child(7n+4) {
        order: 4;
    }
    .grider div:nth-child(7n+5) {
        order: 5;
    }
    .grider div:nth-child(7n+6) {
        order: 6;
    }
    .grider div:nth-child(7n) {
        order: 7;
    }


    .grider time {
        width: 25%;
    }
    .grider article {
        display: flex;
        width: 75%;
    }
    .grider article .n {
        flex-grow: 0;
        flex-basis: 20%;
        text-align: center;
    }
    .grider article .s {
        flex-basis: 20%;
        flex-grow: 0;
        text-align: center;
    }
    .grider article .p {
        flex-grow: 6;
        text-align: right;
    }



    .grider {
        font-family: Garamond, sans-serif;
        font-weight: 500;
    }
    .old-th time {
        display: none;
    }
    .old-th article {
        /*background-color: red;*/
        padding-top: 20px;
        display: block;
        text-align: right;
        padding-right: 20px;
        font-size: 1.75rem;
        line-height: 3rem;
    }
    .grider time {
        color: rgb(197, 27, 27);
        font-style: italic;
    }
    .old-td + .old-td {
        border-top: 1px solid rgb(187, 25, 25);
        font-size: 1.2rem;
        line-height: 1.75rem;
    }
}

/* some minor tweaks */
caption {
    text-align: center;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
form {
    min-width: 300px;
    margin: auto;
    width: 50vw;
    text-align: center;
}
body > div > table {
    width: 100%;
}
body > div > table table {
    margin: auto;
    background-color: #6c80ac;
    border: #e6ff06;
}

th {
    background-color: #fdd700;
    font-variant: small-caps;
}

.p-j-angielski, .p-r_angielski {
    color: rgb(182, 11, 11);
}


.p-j-polski {
    color: rgb(134, 12, 12);
}

.p-matematyka > element::before {
    content: "🔥";
  
    color: rgb(255, 0, 0)
    
      
    
    
}
.p-r_matematyka {
    color: #ff0000;

}

td {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: oblique;   
font-weight: 750; }

.grider div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10;
    background-color: rgb(68, 177, 141);
}
caption{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #8300fd;
}
.old-th article{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 1px;
    border: rgba(255, 0, 0, 0.774);
} 






    

