@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@media screen and (min-width: 700px) {
    .grider {
        display: none !important;
    }
}
@media screen and (max-width: 700px) {

    table table {
        display: none;
    }

    .grider {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .grider div:empty {
        /*display: none;*/
    }
    .grider div {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .grider div:nth-child(7n+1),
    .grider div:nth-child(7n+2)
    {
        display: none;
    }
    .old-th {
        font-size: 19px;
    }


    .grider div:nth-child(7n+1) {
        order: 1;
    }
    .grider div:nth-child(7n+2) {
        order: 2;
    }
    .grider div:nth-child(7n+3) {
        order: 3;
    }
    .grider div:nth-child(7n+4) {
        order: 4;
    }
    .grider div:nth-child(7n+5) {
        order: 5;
    }
    .grider div:nth-child(7n+6) {
        order: 6;
    }
    .grider div:nth-child(7n) {
        order: 7;
    }


    .grider time {
        width: 25%;
        text-align: center;
        padding-top: 10px;
    }
    .grider article {
        display: flex;
        width: 75%;
        color: white;
    }
    .grider article .n {
        flex-grow: 0;
        flex-basis: 20%;
        text-align: center;
        color: #008F8C;
        padding-top: 10px;
    }
    .grider article .s {
        flex-basis: 20%;
        flex-grow: 0;
        text-align: center;
        padding-top: 10px;
        color: rgb(180, 55, 180);
    }
    .grider article .p {
        flex-grow: 6;
        text-align: center;
        height: 28px;
        padding: 10px 20px 10px 20px;
        color:#008F8C;

    }



    .grider {
        font-family: Garamond, sans-serif;
        font-weight: 500;
    }
    .old-th time {
        display: none;
    }
    .old-th article {
        /*background-color: red;*/
        padding-top: 20px;
        display: block;
        text-align: right;
        padding-right: 20px;
        font-size: 1.75rem;
        line-height: 3rem;
    }
    .grider time {
        color:rgb(229, 226, 226);;
        font-style: italic;
    }
    .old-td + .old-td {
        border-top: 1px solid #ddd;
        font-size: 1.2rem;
        line-height: 1.75rem;
    }
}

/* some minor tweaks */
caption {
    text-align: center;
    width: 100%;
}
form {
    min-width: 300px;
    margin: auto;
    width: 50vw;
    text-align: center;
}
body > div > table {
    width: 100%;
}
body > div > table table {
    margin: auto;
}

.n {
    color: #015958;
    text-decoration: none;
    text-align: right;
}

body { 
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    font-family: 'Rubik', sans-serif;
}
caption {
    color: #fff;
    font-size: 36px;

}
.tabela {
    border: 2px solid #013535;
    border-collapse: collapse;
    background-color: rgb(238, 236, 226);
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(1,1,1,0.2);
}
.nr {
    text-align: center;
    color: #015958;
}
.g {
    color:#015958;
}

a {
    color: rgb(105, 23, 172);
}
th {
    height: 35px;
    background-color:#09455f;
    color: rgb(253, 253, 253);
}
td {
    height: 75px;
    padding: 10px 20px 10px 20px;
    color: #023535;
    word-spacing: 2px;
}
