@import url('https://fonts.googleapis.com/css2?family=Martel:wght@300&display=swap');

:root {
    --border-color: #fff;
    --font-size: 19px;
    --md-size: 900px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Martel', serif;
    font-size: var(--font-size);
}

table {
    border-collapse: collapse;
    border: 0;
    width: 100%;
}

table table th, table table td {
    width: 20% !important
}

td, th {
    font-size: 0;
    text-align: left;
    border: 0;
    vertical-align: top;
}
table table tr:first-child th:last-child {
    border-right: 0 !important;
}
table table tr:first-child th {
    border-right: 1px solid #ddd;
    padding-right: 4rem;
    text-align: right !important;
}
table table tr td:nth-child(2) {
    color: #ddd;
}
table table tr th:first-child,
table table tr td:first-child {
    display: none;
}

table table tr td {
    border-right: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    line-height: 1.3rem;
}
table table tr:first-child th  {
    text-align: right;
    font-size: 2.5rem;
}
table table tr:first-child th:nth-child(2) {
    position: absolute;
    top: -1000px;
    left: -1000px;
}

td > * {
    font-size: 1rem;
    margin: 0;
    /* border: 1px solid red; */
    height: 1.5rem;
    /* line-height: 25px; */
}

td.l {
    width: calc((100% - 8ch) / 5);
    margin: 0;
    padding: 10px 10px 10px 0;
    /* margin-bottom: 15px; */
    transition-duration: .4s;
    font-size: 1rem;
}
.n + .o {
    text-align: center !important;
}

/* table table tr th:nth-child(2), */
table table tr td:nth-child(2)
{
    width: 6ch !important;
    overflow: hidden;
    text-overflow: clip;
}


.o {
    padding-left: 4px;
    padding-right: 4px;
    order: 2;
    width: 20%;
    display: block;
    text-align: left;
    float: right;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
}
.s {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    display: inline-block;
    width: 13%;
}
/* border: 1px solid red; */

.p {
    display: inline-block;
    text-align: right;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 60%;
}

a {
    text-decoration: none;
    color: black;
}
.p-wych-rodz- {
    display: none !important
}

.n {
    padding-left: 4px;
    padding-right: 4px;
    order: 3;
    font-variant: small-caps;
    font-size: 0.8rem;
    line-height: 1.5rem;
    width: 20%;
    float: right;
    display: block;
    color: #aaa;
    text-decoration: none;
    text-align: left;
}
.l > .o:first-child {
    text-align: left;
    color: #aaa !important;
    font-weight: normal;
}



form {
    min-width: 300px;
    margin: auto;
    width: 50vw;
    text-align: center;
    padding-bottom: 3rem;
}
select {
    background-color: white;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: 'Martel', serif;
    padding: .4rem 0 .4rem 1.4rem;
}
option {
    font-family: 'Martel', serif;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: -1px;
}

td.l:hover, .old-td:hover {
    border-radius: 110px;
    background-color: #eee;

}
.old-td {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem !important;
}
article {
    text-align: right !important;
    font-size: 1rem;
    line-height: 1.5rem;
}


time {
    padding-left: 20px;
    color: #ddd;
    font-size: 1rem;
    line-height: 1.5rem;
}



.grider .old-th:nth-child(3) time,
.grider .old-th:nth-child(4) time,
.grider .old-th:nth-child(5) time,
.grider .old-th:nth-child(6) time,
.grider .old-th:nth-child(7) time {
    display: none !important;
    border: 1px solid red;
}


.grider .old-th:nth-child(3) article,
.grider .old-th:nth-child(4) article,
.grider .old-th:nth-child(5) article,
.grider .old-th:nth-child(6) article,
.grider .old-th:nth-child(7) article
{
    font-size: 2.5rem;
    line-height: 3rem;
    margin-top: 30px;
    /* border: 1px solid red; */
    text-align: right;
    width: 100%;
    display: block;
    padding-right: 2rem;
}


@media print {
    body {
        rotate: 90deg;
        transform: translate(40%, 0);
    }
    .grider, form {
        display: none !important;
    }
}

@media screen and (min-width: 1000px) {
    .grider {
        display: none !important;
    }
}
@media screen and (max-width: 1000px) {
    form {
        width: 100%;
        margin: 0;
    }
    form select {
        max-width: 95vw;
        margin: auto;
    }
    body {
        margin-bottom: 100px;
    }

    table table {
        display: none;
    }

    .grider {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .grider div {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .grider div:nth-child(7n+1),
    .grider div:nth-child(7n+2)
    {
        display: none;
    }
    .old-th {
        font-size: 19px;
    }


    .grider div:nth-child(7n+1) {
        order: 1;
    }
    .grider div:nth-child(7n+2) {
        order: 2;
    }
    .grider div:nth-child(7n+3) {
        order: 3;
    }
    .grider div:nth-child(7n+4) {
        order: 4;
    }
    .grider div:nth-child(7n+5) {
        order: 5;
    }
    .grider div:nth-child(7n+6) {
        order: 6;
    }
    .grider div:nth-child(7n) {
        order: 7;
    }


    .grider time {
        width: 25%;
    }
    .grider article {
        display: flex;
        width: 75%;
    }
    .grider article .n {
        flex-grow: 0;
        flex-basis: 20%;
        /* text-align: center; */
    }
    .grider article .s {
        flex-basis: 20%;
        flex-grow: 0;
        /* text-align: center; */
    }
    .grider article .p {
        flex-grow: 6;
        text-align: right;
    }

    caption {
        font-size: 2.5rem !important;
    }
    .old-th > article {
        text-decoration: underline;
        text-decoration-color: #999;
        text-decoration-thickness: 1px;
        margin-bottom: 20px;
    }
    form:nth-child(2) {
        background-color: white;
        /*border-top: 2px solid #ddd;*/
        font-size: 0;
        position: fixed;
        width: 102%;
        bottom: 0;
        left: -5px;
        padding: 0 !important;
    }
    form:nth-child(2) select {
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
    }
}

caption {
    text-align: center;
    width: 100%;
    font-size: 4rem;
    text-decoration: underline;
    margin-bottom: 1rem;
    text-shadow: 3px 3px 0 #eee;
}
body > div > table {
    width: 100%;
}


.group2 .p {
    text-decoration: underline double;
}
.group2 .p:nth-child(4),
.group2 .p:nth-child(5),
.group2 .p:nth-child(6),
.group2 .p:nth-child(7),
.group2 .p:nth-child(8),
.group2 article + article .p
{
    text-decoration: underline double !important;
}
.group1 .p {
    text-decoration: underline;
}
.td-old .o {
    text-align: center !important;
}


#theme-selector {
    width: auto;
    min-width: auto;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 40px;
}

td[align="left"] {
    display: none;
}
